<html>
  <head>
    <title>Market</title>
  </head>
  <body>
      <ul>
          <li><a class="active" href="/purchase">Purchase</a></li>
      </ul>
      {% for book in books %}
            <form action="" method="post" name="login">
            <tr>
                <td>{{book["title"]}}</td>
                <td><img align="middle" src="{{url_for('static', filename= 'images/' +book['image'])}}",width=60, height=100 /></td>
                <td>{{form.book_id(value=book["id"])}}</td>
                <td> {{form.submit}} </td>
                <br>
                <br>        
            </tr>
            </form>
        {%endfor%}
        <p>{{error}}</p>
  </body>
</html>