<html>
  <head>
    <title>Market</title>
  </head>
  <body>
      <ul>
          <li><a class="active" href="/">Store</a></li>
      </ul>
      {% for book in books %}
            <form action="" method="post">
            <tr>
                <td>{{book["title"]}}</td>
                <td><img align="middle" src="{{url_for('static', filename= 'images/' +book['image'])}}",width=60, height=100 /></td>
                <td>{{form.book_id(value=book["id"])}}</td>
                <td> <input type="submit" value="Delete" > </td>
                <br>
                <br>  
            </form>     
            </tr>
        {%endfor%}
        <ul>
            <li><a class="active" href="/deleteAll">Delete all</a></li>
        </ul>
        <p>{{msg}}</p>
  </body>
</html>